@model IEnumerable<PortalForRetiredExperienced.Models.Profile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadCv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/images/@item.ProfilePic"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadCv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.P_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.P_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.P_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
