@model IEnumerable<PortalForRetiredExperienced.Models.CandidateListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ca_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ca_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ca_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
